<html>

    <head>
        <title>AlgoDoc</title>
    </head>

    <body style=background-repeat:no-repeat;background-size:cover;background-image:url({{url_for('static' , filename = '266471.jpg')}})>
                <div style=width:80%;background:#cccccc;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;>
                    
                    <center><img src = {{url_for('static' , filename = 'logo.jpg')}} width=250px height=150px></center>
                    
                    <div style=background:#fff;border-radius:15px;padding:10px;>

                        <div style="position: relative;background-image:url('https://healthengine.com.au/info/assets/iStock-836113342-1024x633.jpg'); min-height: 1000px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">

                                <div style="position: absolute;top: 50%; right: 25%;transform: translate(+50%,-50%);">
                                    <center>
                                        <h1 style="color:#4CAF50;font-size:36px;font-family: 'Courier New', monospace;">404!<br>Page Not Found</h1>
                                        <h5 style="color:black;font-size:16px;font-family: 'Courier New', monospace;">We can't locate what you're looking for</h5>
                                    </center>
                                </div>

                        </div>


                        <div style="position:relative;width:100%; min-height: 400px;background-color:#1a1a1a;">
                                    
                                    <div style="position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
                                        <center>
                                            <h1 style="color:#fff;">Get In Touch</h1>
                                            <h3 style="color:#fff;">For all enquiries , please contact us through the following email address : algodocapp@gmail.com</h3>
                                            <a type="button" href="https://twitter.com/algo_doc" style="border: none;background-color:#0097FF;border-radius:100px;color: #fff;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">Follow AlgoDoc On Twitter</a>
                                        </center>
                                    </div>

                        </div>

                    </div>
                </div> 
    </body>

</html> 
